* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #b8161b;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 150px;
    height: auto;
}

header nav ul {
    display: flex;
}

header nav ul li {
    list-style: none;
    margin-right: 10px;
}

header nav ul li a {
    text-decoration: none;
    color: white;
}


.sessao-01 {
    padding: 250px;
    background-image: url(img/imagemagora.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section.02 {
    back
}